In [1]:
# CREATE A FOLDER & NAME IT AS PYTHONFOLDER ANYWHERE ON YOUR SYSTEM
# COPY THE FOLDER PATH

In [2]:
# Create Working Directory
import os
%cd /Users/rajeshprabhakar/Desktop/PythonDataFolder

/Users/rajeshprabhakar/Desktop/PythonDataFolder

In [3]:
# PYTHON VARIABLES - CONTAINERS FOR STORING DATA VALUES
# MUST BE ALPHA NUMERIC - d, df1, 
# case sensitive - d, D, D1

In [4]:
# PYTHON DATA TYPES - BUILT IN
# NUMERIC - int, float , complex
# Text - str
# Sequence Type - list, tupple, range
# Mapping Type - dict
# Set Type - set, frozen set
# Boolean Type - bool
# Binary Type - bytes, bytearray,memoryview

In [5]:
# Python Numbers
x=1  # int
y=2.8 # float
z= 1j # complex
print(x)
print(y)
print(z)

1
2.8
1j

In [6]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
# PreDefined Functions - called by name
# print() - print function name & function names will be in smallcaps
# every function must have paranthesis or round brackets
# either paranthesis will be Null or give arguments within paranthesis
# multiple arguments in paranthesis seperated by comma , with in square 
# brackets

In [10]:
# Conversions - int to float, float to int, int to complex
a=float(x) 
b=int(y)
c=complex(x)
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

In [11]:
# Sequence Types - List also called as arrays
# LIST IS A COLLECTION OF ORDERED AND MUTABLE OR APPENDABLE ARRAY, allows
# duplicates. List start with [] & items sepearated by comma
numericlist=[23,24,25,26,26,28,39,39]
charcaterlist=['AAA',"BBB","john",'X']
booleanlist=[True,False,True,False]
print(numericlist)
print(charcaterlist)
print(booleanlist)

[23, 24, 25, 26, 26, 28, 39, 39]
['AAA', 'BBB', 'john', 'X']
[True, False, True, False]

In [12]:
# INDEXING  - SELECTION OR SUBSETTING - SQUARE BRACKETS
# PYTHON STARTS WITH ZERO - ZERO ROW OR ZERO COLUMN OR ZERO ELEMENT
print(numericlist[0]) # Accessing First element

23

In [13]:
print(numericlist[-1]) # Accessing Last Element of List

39

In [14]:
print(charcaterlist[1:3])

['BBB', 'john']

In [15]:
# Sequence Type - Tupple
# Tupples are immutable list which is ordered and duplicates allowed
# Tupples start with paranthesis or round brackets
numerictupple=(23,23,45,67,68,90)
charactertupple=('A',"BBB","C")
print(numerictupple)
print(charactertupple)

(23, 23, 45, 67, 68, 90)
('A', 'BBB', 'C')

In [16]:
print(numerictupple[2])

45

In [17]:
# Sequence Type - Set
# Set is a collection of unordered and unindexed without duplicates
# Set starts with {}
fruits={"apple","banana","orange"}
print(fruits)

{'banana', 'orange', 'apple'}

In [18]:
# add or update sets - add - singular & update is multiple
fruits.add('cherry')
print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

In [20]:
fruits.update(['mango','grapes'])
print(fruits)

{'cherry', 'mango', 'banana', 'orange', 'grapes', 'apple'}

In [21]:
#Mapping Type - Dictionaries or dict{} - unordered, appendable & indexed
# dicts are like key value pairs
dict1={"brand": 'Ford',"model":'Mustang',"year":1964}
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [22]:
# Accessing of Dictionaries - by refering to key name either square 
# brackets or get()
dict1['model']

'Mustang'

In [23]:
dict1.get('model')

'Mustang'

In [24]:
# Appending list - append()
numericlist.append(99)
print(numericlist)

[23, 24, 25, 26, 26, 28, 39, 39, 99]

In [25]:
# Append List in an ordered manner - insert()
numericlist.insert(4,100)
print(numericlist)

[23, 24, 25, 26, 100, 26, 28, 39, 39, 99]

In [26]:
# For Appending tupples, Convert tupple into a List 
# list() will convert tupple to list

In [27]:
# len() - Length of list or tupple or set or dict
print(len(numericlist))
print(len(charactertupple))
print(len(fruits))
print(len(dict1))

10
3
6
3

In [28]:
# remove() & pop() - Lists & Sets but not on tupples
print(numericlist.remove(100))
print(numericlist.pop())

None
99

In [29]:
# clear() empties Set
# clear() or del empties List
# copy() the list

# Looping is allowed for Lists, tupples & Dictionaries not allowed for
# sets

In [30]:
# Logical Conditions 
# Equals  -  ==
# Not Equal - !=
# less than - <
# greater than - >
# less than equal to - <=
# greater than equal to - >=

In [31]:
# If Elif Else
if test expression: # test expression - Logical test
    statement

# IF test expression is true then Statment executed
# IF test expression is false then Statment not executed
# Indentation mandatory


if test expression:
    statment of if
elif test expression:
    statement of if
else:
    statement of if

SyntaxError: invalid syntax (<ipython-input-31-987c006efb6f>, line 2)

In [36]:
# Identify if number is positive or negative
# input() open a input box for entry
num=float(input('Enter a Number:'))
if num==0:
    print('Zero')
elif num>0:
    print('Positive Number')
else:
    print('Negative Number')

Enter a Number:23
Positive Number

In [37]:
# For Loop - iterating over a sequence - range()
for x in range(10,30):
    print(x)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [42]:
# USING FOR LOOP & IF ELSE WRITE A LOOP FOR CALCULATING FACTORIAL OF
# A NUMBER
number=int(input('Enter Number:'))
factorial=1
if number <0:
    print('Factorial Does not Exist for Negative Numbers ')
elif number ==0:
    print('Factorial of 0 is 1')
else:
    for i in range(1,number+1):
        factorial=factorial*i
    print('The Factorial of',number,"is", factorial)

Enter Number:5
The Factorial of 5 is 120

In [43]:
# Python Functions - defined by using def keyword. It will only run
# when it is called.

def functionname():
    print("output")

In [46]:
# Factorial of number using Recursion & creating function
def recur_factorial(n):
    if n==1:
        return n
    else:
        return n*recur_factorial(n-1)
factnum=int(input('Enter a number'))
if factnum<0:
    print('No Factorial for Negative Numbers')
elif factnum==0:
    print("Factorial of 0 is 1")
else:
    print('The factorial of',factnum,'is',recur_factorial(factnum))

Enter a number5
The factorial of 5 is 120

In [51]:
# Write a program to Check Prime Number?
num=int(input('Enter a Number: '))
if num >1:
    for i in range(2,num):
        if (num%i)==0:
            print('Number is Not a Prime number')
            print(i,'times', num//i,"",num)
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a Number: 1256
Number is Not a Prime number
2 times 628  1256

In [54]:
# Python - Lambda functions or anonymous functions
# Syntax - lambda arguments : expression

# Function using def 
def cube(n):
    return n*n*n
print(cube(3))

# Lambda Function or Anonymous Function
cubelambda = lambda n: n*n*n
print(cubelambda(3))

27
27

In [55]:
# Lambda functions with For loop
square=lambda x : x*x
lambdalist=[square(i) for i in [1,2,3,4,5]]
print(lambdalist)

[1, 4, 9, 16, 25]

In [88]:
# Another Advantage of Lambda function, you can eliminate for loop
# map() & filter()
numbers=range(1,20)
print(list(numbers))

# identify oddnumbers
oddnumbers=list(filter(lambda n: n%2!=0,numbers))
print(oddnumbers)

# Square oddnumbers
oddsquare=list(map(lambda n:n*n,oddnumbers))
print(list(oddsquare))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [92]:
# Write a Factorial code using Lambda function?
fact=lambda n:1 if n==0 else n*fact(n-1)
print(fact(5))

120

In [93]:
# Python Data Types - Strings are treated as an Array
string="The Internet Today is Highly Unstable"

In [94]:
len(string)

37

In [95]:
print(string[2:5])

e I

In [96]:
string.strip() # Removes any white space

'The Internet Today is Highly Unstable'

In [97]:
string.split() # Splits into words based on space

['The', 'Internet', 'Today', 'is', 'Highly', 'Unstable']

In [98]:
string.lower() # Lower case

'the internet today is highly unstable'

In [99]:
string.upper() # Upper Case

'THE INTERNET TODAY IS HIGHLY UNSTABLE'

In [100]:
string.replace("Unstable","Problematic") # Word to be replaced first 
# followed by the word which replaces

'The Internet Today is Highly Problematic'

In [101]:
x= "Internet" in string
print(x)

True

In [102]:
y="Unstable" not in string
print(y)

False

In [103]:
# Lambda 
# Filter - apply a criteria & store the elements which meet criteria
# Map - apply the same function or step to each item stored

In [104]:
# Python - Object Oriented Programming Language
# Everything in Python is an object with its own properies & methods
# Class is a object constructor - class
# Classes will have built in __init__() function
# __init__() is used to assign values

In [107]:
# Created Class named Person
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
# self is a reference to current instance of code & 
# used for variable access

In [108]:
p1=Person("John",30)
p2=Person("Ann",26)

In [110]:
print(p1.name)
print(p2.age)

John
26

In [111]:
# Python Inheritance
# Parent Class - class being inherited from, called base class
# Child Class - Class that inherits from another class, derived class

In [129]:
class Person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    def printname(self):
        print(self.firstname,self.lastname)

In [130]:
z=Person("John","Doe")
z.printname()

John Doe

In [131]:
class Student(Person):
    pass

In [132]:
student1=Student("A","Pearson")
student1.printname()

A Pearson

In [139]:
class Student(Person):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname)
        self.graduationyear=year

In [141]:
studenta=Student("Mike","Olsen",2020)
print(studenta.graduationyear)

2020